.table-border{
    max-width: 1002px;
    border-style:solid;
    border-width: 1px;
}

.table-irag{
    border-collapse: collapse;
    width: 1000px;
    margin-left: 1px;
    margin-bottom: 1px;
    border-style: solid;
    border-width: 2px;
    border-color: black;
}

.title{
    caption-side: top;
    font-weight: bold;   
}

.text-head{
    font-weight: normal;
    width: 100px;
}

.text-total{
    font-weight: normal;
    width: 70px;
    text-align: unset;
}


