.products{
    border-collapse: collapse;
    width: 850px;
}

.title{
    caption-side: top;
    font-weight: bold;
}

.products tbody tr:nth-child(1) td:nth-child(1){ /* тоже самое что :first-child */
   /* border-right: 0;*/
}

.products tbody tr:nth-child(1) td:nth-child(2){
    border-left: 0;
}

.products td{
    padding: 15px;
}
